.ui.inverted.segment
    .ui.inverted.secondary.pointing.menu.header-menu
        a.item
            | home
        a.active.item
            | メニュー1
        a.item
            | メニュー2
        a.item
            | メニュー3