.header-menu, .main-content {
  width: 1020px;
  min-width: 1020px !important;
  margin: auto !important; }

.main-content {
  border-top: 10px; }

.content-hader {
  height: 250px; }

.entry {
  height: 250px;
  position: relative; }
  .entry .title {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    font-size: 16px;
    color: #fff;
    width: 100%;
    font-weight: 700;
    padding: 5px; }
